src/library/Core/Application/Resource/Doctrine.php
src/library/Core/Application/Exception/
src/library/Core/Application/Container/
src/library/Doctrine/
src/library/Symfony/
src/library/Zend/
vendor/
coverage/
